/* CSS fil för uppgift C1 - TODO lista */

/* Hide donelist and todolist */
/* we will use javascript to show them */
/* but only if they have items */
#tododiv,
#donediv {
   display:none;
       
}

/* If we go below 220px things tend to break up */
body {

    min-width: 260px;
}



/* Center the h1 and h2 text*/
h1, h2 {
    text-align:center;

}


/* center and give space to the ADD button */
#addtodo {
    margin: 20px 0 0 0;
   


}


.todo-item-buttons {

    width: 180px;


}

.todo-item-buttons button {
    margin-right: 5px;
    
}

.done-remove, .todo-remove {
    margin-right: 0;
}

.list-group {

    width: 98%;
}

.list-group-item {

    margin-left: 3px;
    margin-right: 3px;

}









