/* CSS fil för uppgift C1 - TODO lista */

/* Hide donelist and todolist */
/* we will use javascript to show them */
/* but only if they have items */
#tododiv,
#donediv {
   display:none;
       
}

/* Center the h1 and h2 text*/
h1, h2 {
    text-align:center;

}

/* Align the buttons that are displayed to the right of every todo item */
.todo-item-buttons {

    margin-left: 10px;

}

.todo-item-buttons button {
    margin-right: 5px;
    
}

/* Justering av todo och done-listornas bredd */
.list-group {
    margin-left: 10px;
    margin-right: 10px;
        
}


